<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seezoon.user.domain.dao.mapper.OauthMapper">
    <resultMap id="BaseResultMap" type="com.seezoon.user.domain.dao.po.OauthPO">
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <id column="oauth_type" jdbcType="TINYINT" property="oauthType"/>
        <id column="oauth_id" jdbcType="VARCHAR" property="oauthId"/>
        <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        uid
        , oauth_type, oauth_id, union_id, status, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.seezoon.user.domain.dao.po.OauthKeyPO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_oauth
        where uid = #{uid,jdbcType=BIGINT}
        and oauth_type = #{oauthType,jdbcType=TINYINT}
        and oauth_id = #{oauthId,jdbcType=VARCHAR}
    </select>
    <select id="selectByOauth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_oauth
        where oauth_type = #{oauthType,jdbcType=TINYINT}
        and oauth_id = #{oauthId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.seezoon.user.domain.dao.po.OauthKeyPO">
        delete
        from t_oauth
        where uid = #{uid,jdbcType=BIGINT}
          and oauth_type = #{oauthType,jdbcType=TINYINT}
          and oauth_id = #{oauthId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.seezoon.user.domain.dao.po.OauthPO">
        insert into t_oauth (uid, oauth_type, oauth_id,
                             union_id, status, create_time,
                             update_time)
        values (#{uid,jdbcType=BIGINT}, #{oauthType,jdbcType=TINYINT}, #{oauthId,jdbcType=VARCHAR},
                #{unionId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.seezoon.user.domain.dao.po.OauthPO">
        update t_oauth
        <set>
            <if test="unionId != null">
                union_id = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where uid = #{uid,jdbcType=BIGINT}
        and oauth_type = #{oauthType,jdbcType=TINYINT}
        and oauth_id = #{oauthId,jdbcType=VARCHAR} limit 2
    </update>
    <update id="updateByPrimaryKey" parameterType="com.seezoon.user.domain.dao.po.OauthPO">
        update t_oauth
        set union_id    = #{unionId,jdbcType=VARCHAR},
            status      = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where uid = #{uid,jdbcType=BIGINT}
          and oauth_type = #{oauthType,jdbcType=TINYINT}
          and oauth_id = #{oauthId,jdbcType=VARCHAR}
        limit 2
    </update>
</mapper>