<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seezoon.user.domain.dao.mapper.RelationMapper">
    <resultMap id="BaseResultMap" type="com.seezoon.user.domain.dao.po.RelationPO">
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <id column="relation_type" jdbcType="TINYINT" property="relationType"/>
        <id column="relation_value" jdbcType="VARCHAR" property="relationValue"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        uid
        , relation_type, relation_value, status, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.seezoon.user.domain.dao.po.RelationKeyPO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_relation
        where uid = #{uid,jdbcType=BIGINT}
        and relation_type = #{relationType,jdbcType=TINYINT}
        and relation_value = #{relationValue,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.seezoon.user.domain.dao.po.RelationKeyPO">
        delete
        from t_relation
        where uid = #{uid,jdbcType=BIGINT}
          and relation_type = #{relationType,jdbcType=TINYINT}
          and relation_value = #{relationValue,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.seezoon.user.domain.dao.po.RelationPO">
        insert into t_relation (uid, relation_type, relation_value,
                                status, create_time, update_time)
        values (#{uid,jdbcType=BIGINT}, #{relationType,jdbcType=TINYINT}, #{relationValue,jdbcType=VARCHAR},
                #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.seezoon.user.domain.dao.po.RelationPO">
        update t_relation
        <set>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where uid = #{uid,jdbcType=BIGINT}
        and relation_type = #{relationType,jdbcType=TINYINT}
        and relation_value = #{relationValue,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.seezoon.user.domain.dao.po.RelationPO">
        update t_relation
        set status      = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where uid = #{uid,jdbcType=BIGINT}
          and relation_type = #{relationType,jdbcType=TINYINT}
          and relation_value = #{relationValue,jdbcType=VARCHAR}
    </update>
</mapper>